
.logo {
    width: 190px;
}

.imagem1 {
    width: 100%;
    margin-top: 30px;
    border-radius: 30px;
}

.titulo {
    background-color: rgb(255, 255, 255);
    height: 180px;
    margin-top: -21px;
    margin-left: -8px;
    text-align: justify;
    border-radius: 0px 0px 20px 20px;
}

.menu {
    text-decoration: none;
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px;
    font-size: 22px;
    margin: 6px;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fa-solid {
    display: none;
}

.menutras2 {
    display: none;
}

.menutras {
    background-color:rgb(255, 255, 255);
    padding-bottom: 20px;
    margin-right: 30px;
    text-align: center;
    border-radius: 0px 0px 20px 20px;
    float: right;
    margin-top: -120px;
}

.moda {
    text-align: center;
    font-family: 'moda';
    font-size: 40px;
    margin-left: -32px;
}

.MATRICULA {
    text-align: justify;
    background-color: #6b6969;
    padding: 2%;
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
}

.porquer {
    font-size: 50px;
    margin-left: 40px;
    font-family: 'azo';
    color: white;
}

.menu:hover {
    background-color: rgba(9, 54, 204, 0.795);
    transition-duration: .9s;
    color: white;
}

.conteudo1 {
    width: 400px;
    border-radius: 15px;
    margin-top: 70px;
    margin-right: 37px;
    margin-left: 290px;
    background-color:  rgb(37, 60, 161);
}

.conteudo2 {
    width: 400px;
    border-radius: 15px;
    margin-top: 70px;
    margin-right: 40px;
    background-color:  rgb(37, 60, 161);
}

.conteudo3 {
    width: 400px;
    border-radius: 15px;
    margin-top: 70px;
    margin-right: 40px;
    background-color: rgb(37, 60, 161);
}

.catalago {
    width: 100%;
    margin-top: -50px;
    display: flex;
    flex-wrap:wrap;
}

.beneficio {
    margin-top: 3.5rem;
}

.item {
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 0px;
    font-size: 30px;
    margin-top: 55px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: 'azo';
}

body {
    background-color:rgb(219, 219, 219);
    margin: 0%;
}

.texto {
    font-size: 30px;
    margin-left: -19px;
    color: white;
    line-height: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

.frase {
    line-height: 40px;
    margin-left: 18px;
    width: 57%;
    font-size: 18px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.discriçao1 {
    text-align:justify;
    color: rgb(255, 255, 255);
    margin: 0px;
    padding-bottom: 30px;
    border-radius: 0px 0px 15px 15px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.discriçao2 {
    text-align:justify;
    color: white;
    margin: 0px;
    padding-bottom: 30px;
    border-radius: 0px 0px 30px 30px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.discriçao3 {
    text-align:justify;
    color: rgb(255, 255, 255);
    margin: 0px;
    padding-bottom: 30px;
    border-radius: 0px 0px 30px 30px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.texth2 {
    text-align: center;
    font-size: 40px;
    font-family: 'moda';
}

div.foto {
    text-align: center;
    margin-top: 30px;
}

#fotos {
    padding: 1%;
    border-radius: 30px;
}

.footer-img {
    width: 160px;
    margin-bottom: -30px;
    margin-left: 15px;
    background-color:rgb(255, 255, 255);
    border-radius: 0px 0px 10px 10px;
}

.footer-h3 {
    font-size: 25px;
    font-family: "azo";
}

.footer-list {
    display: flex;
    flex-direction: column;
    color: white;
}

.footer-fora {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: rgb(102, 102, 102);
    margin-left: -8px;
    margin-bottom: -8px;
}

.redes {
    text-decoration: none;
    font-size: 50px;
    margin-left: 20px;
    margin-top: 20px;
    margin-top: 50px;
}

#instagram {
    color:white;
    text-decoration: none;
}

#whatsapp {
    color: white;
    text-decoration: none;
}

#twitter {
    color: white;
}

#instagram:hover {
    color: rgb(164, 109, 216);
    transition-duration: 0.5s;
}

#whatsapp:hover {
    color: rgb(10, 177, 85);
    transition-duration: 0.5s;
}

#twitter:hover {
    color: rgb(0, 0, 0);
    transition-duration: 0.5s;
}

@font-face {
    font-family:'tuo';
    src: url('fonte/Qilka-Bold.ttf') format('truetype');
}

@font-face {
    font-family:'moda';
    src: url('fonte/Designer.otf'), format('opentype');
}

@font-face {
    font-family:'azo';
    src: url('fonte/Azonix.otf'), format('opentype');
}

@media  ( max-width:600px) {

.conteudo1 {
    margin-left: 0px;
    margin: auto;
    margin-top: 50px;
}

.texth2 {
    font-size: 28px;
}

.titulo{
    border-radius: 0px;
    height: 155px;
}

.fa-solid {
    display: block;
    margin-top: -120px;
    margin-left: 20px;
    font-size: 20px;
    text-decoration: none;
    width: 20px;
}

.menutras2 {
    display: block;
    margin-right: 0px;
    border-radius: 0px 0px 20px 20px;
    background-color:rgb(255, 255, 255);
    padding-bottom: 20px;
    text-align: center;
    border-radius: 0px 0px 20px 20px;
}

.menutras {
    display: none;
}

.redes {
    text-decoration: none;
    font-size: 50px;
    margin-top: 15px;
}

.MATRICULA {
    text-align: justify;
    background-color: #6b6969;
    padding: 2%;
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
}

.footer-h3 {
    font-size: 18px;
    font-family: "azo";
}


.footer-list {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 134px;
    gap: -10px;
}

article {
    width: 100%;
}

.footer-fora {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color:rgb(102, 102, 102);
    margin-bottom: -8px;
    margin-right: -17px;
}

.footer-img {
    width: 120px;
    margin-bottom: 30px;
}

.frase {
    font-size: 16px;
    line-height: 50px;
    text-align:left;
    width: 70vw;
}

.footer-list {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 134px;
    gap: -10px;
    font-size: 15px;
}

.porquer {
    text-align: left;
    line-height: 60px;
    font-size: 35px;
    margin-bottom: -10px;
}

.texto {
    text-align: left;
    width: 86vw;
}

#fotos {
   width: 90%;
   margin-bottom: 20px;
}

div.foto {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 8px;
    margin-left: 5px;
}

.conteudo2 {
    margin: auto;
    margin-top: 50px;

}

.conteudo3 {
    margin: auto;
    margin-top: 50px;
}

.logo {
    width: 160px;
    margin: auto;
    display: flex;
    text-align: center;
}

.catalago {
    width: 100%;
    margin-top: -50px;
    display: flex;
    flex-wrap:wrap;
}

.conteudo1,.item,.conteudo2,.conteudo3 {
    width: 300px;
    font-size: 24px;
}

.beneficio {
    font-size: 17px;
}

.menu {
    font-size: 16px;
}

.moda {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    margin-left: 0px;
}

.imagem1 {
    width: 100%;
    margin-top: 10px;
    border-radius: 0px 0px 10px 10px;
}

.footer-fora {
   padding-bottom: 30px;
   margin-right: 0px;
}

.redes {
    display: block;
    margin-left: 27px;
    text-decoration: none;
    width: 1.0rem;
    font-size: 50px;
    margin-top: -4px;
}

}