@media   (min-width: 768px) and (max-width:992px) {
    
  section#login {
    max-width: 800px;
    margin-top: 60px;
  }

  #login > #imagem {
    float: left;
    right: 100%;
    width: 400px;
    padding-bottom: 95px;
    padding-top: 70px;
  }

  p > label > i {
    margin-left: -29px;
    font-size: 20px;
  }

  div#link {
    margin-top: 50px;
  }

  form > p > input[type=submit]{
    width: 70%;
    margin-top: 20px;
    margin-left: -0px;
    font-size: 18px;
    padding: 10px;
  }

  section#login > div#formulario {
    float: right;
    width: 30%;
    right: 100%;
    margin-right: 85px;
    margin-top: 75px;
    font-size: 17px;
  }
}
  
@media (min-width:992px) {
    
  #login > #imagem {
    float: left;
    width: 50%;
    padding-bottom: 95px;
    font-size: 1000px;
  }

  section#login > div#formulario {
    float: right;
    width: 50%;
    margin-top: 70px;
    font-size: 20px;
  }

  section#login {
    max-width: 1000px;
    margin-top: 50px;

  }

  form > p > input[type=submit]{
    width: 30%;
    margin-top: 20px;
    font-size: 18px;
  }

  form > p > input[type=submit]{
    width: 40%;
    margin-top: 20px;
    margin-left: 6px;
  }

  p > label > i {
    margin-left: -28px;
    font-size: 21px;
  }

  form > p > input {
    font-size: 15px;
  }

  div#link {
    margin-top: 40px;
  }

} 

@media (max-width:600px) {
  
  form > p > input[type=submit]{
    width: 40%;
    margin-top: 20px;
    font-size: 17px;
  }

  p > label > i {
    margin-left: -25px;
    font-size: 21px;
  }

  form > p > input {
    font-size: 17px;
  }

  section#login {
  margin-top: -90px;
  }

}